{% extends "base.html" %}

{% block navbar %} {% include "components/navbar.html" %}{% endblock %}

{% block contents %}
<section class="pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
              <h3 class="display-5 mb-2 text-center">Shopping Cart</h3>
                <p class="mb-5 text-center">Buku</p>
                <table class="table table-responsive">
                    <thead>
                        <tr>
                          <th scope="col">Product</th>
                          <th scope="col" style="width:30%">Price</th>
                          <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for list in lists %}
                    {% if list.pembeli == user %}
                        <tr>
                            <td>
                                <div class="row">
                                    <div class="col-md-3 text-left">
                                      <img src="https://via.placeholder.com/250x250/5fa9f8/ffffff" alt="" class="img-fluid d-none d-md-block rounded mb-2 shadow ">
                                    </div>
                                    <div class="col-md-9 text-left mt-sm-2">
                                      <h4>{{ list.produk}}</h4>
                                      <p class="font-weight-light">{{ list.id}}</p>
                                    </div>
                                </div>
                            </td>
                            <td>{{list.harga}}</td>
                            <td class="actions">
                                <form class="btn" method="POST" action="{% url 'cart'%}">
                                    {% csrf_token %}
                                    <input type="text" name="product_id" style="display:none;" value="{{ list.id}}">
                                    <button name="delete" class="btn btn-white border-secondary bg-white btn-md">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </form>
                                <button onclick="window.location.href='{% url 'pembayaran' product_id=list.id %}'" class="btn btn-white border-secondary bg-white btn-md">
                                    <i class="fa-solid fa-money-bill"></i>
                                </button>
                            </td>
                        </tr>
                    {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block footer %} {% include "components/footer.html" %}{% endblock %}