{% extends "base.html" %}
{% load static %}

{% block title %}login{% endblock %}

{% block navbar %}{% include "components/navbar.html" %}{% endblock %}

{% block contents %}
{% if form.errors%}
{{ form.errors}}
{% endif %}
<div class="container mt-3">
  <h2>Login</h2>
  <form action="{% url 'login'%}" method="POST">
    {% csrf_token %}
    <div class="mb-3 mt-3">
      <label for="email">Username:</label>
      {{ form.username }}
    </div>
    <div class="mb-3">
      <label for="pwd">Password:</label>
      {{ form.password }}
    </div>
    <div class="mb-3 mt-3">
      <label for="captcha">Captcha:</label><br>
      {{ form.captcha }}
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock %}