{% extends "base.html" %}
{% load static %}

{% block title %}Register{% endblock %}

{% block navbar %}{% include "components/navbar.html" %}{% endblock %}

{% block contents %}
{% if form.errors%}
{% for _,error in form.errors.items %}
    {{ error}}
{% endfor %} 
{% endif %}

<div class="container mt-3">
    <h2>Sign Up</h2>
    <form action="{% url 'signup'%}" method="POST">
        {% csrf_token %}
        <div class="mb-3 mt-3">
            <label for="email">Firstname:</label>
            {{ form.firstname }}
        </div>
        <div class="mb-3 mt-3">
            <label for="email">Lastname:</label>
            {{ form.lastname }}
        </div>
        <div class="mb-3 mt-3">
            <label for="email">Username:</label>
            {{ form.username }}
        </div>
        <div class="mb-3 mt-3">
            <label for="email">Email:</label>
            {{ form.email }}
        </div>
        <div class="mb-3">
            <label for="pwd">Password:</label>
            {{ form.password1}}
        </div>
        <div class="mb-3">
            <label for="pwd">Confirm Password:</label>
            {{ form.password2}}
        </div>
        <div class="mb-3">
            <label for="pwd">Captcha:</label><br>
            {{ form.captcha}}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}